body {
  /* background-color: #2E3440;
  color: #D8DEE9; */
  color: #black;
  background-color: #d9d9d9;
  font-family: 'EB Garamond', serif;
}

a {
  color: #458588;
  text-decoration: none;
}

a:hover {
  color: #458588;
  text-decoration: underline;
}

a:visited {
  color: #458588;
  text-decoration: none;
}

ul {
    list-style-type: none;
}

li {
    padding: 0 0 5 0px;
    color: #black;
    font-weight: bold;
    font-size: 18px;
}

p {
    padding-left: 20px;
}

/* Overrides a bootstrap class */
.container {
  margin-right: 0px !important;
  margin-left: 0px !important;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}

.app-content {
  padding-left: 18%;
  padding-right: 18%;
  padding-top: 40px;
}

.project-container {
    padding-left: 40px;
    margin-bottom: 20px;
}

.project-title {
    padding: 0 0 5 0px;
    color: #black;
    font-weight: bold;
    font-size: 18px;
}

.project-description {
    padding-left: 20px;
}

.project-icon-link {
    margin-left: 10px;
    margin-bottom: 5px;
    width: 15px;
}

.project-show-more-less {
    padding-left: 20px;
}

.name-text {
  display: inline-block;
}

.title-text {
  text-align: center;
  margin-bottom: 40px;
}

.contact-items {
  margin-top: 75px;
  text-align: center;
  align-items: center;
}

.contact-items-inner {
  margin: auto;
}

.dark-toast {
  background: #d9d9d9;
  color: black;
}

.logo {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.contact-image {
  width: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

#autoauthor_pic {
    width: 500px;
}

#smild_pic {
    width: 200px;
    margin-bottom: 40px;
}

#wikification_pic {
    width: 400px;
}

#typemeasure_pic {
  width: 400px;
}

#wikification_figure {
    text-align: center;
    display: block;
    margin: auto;
}
