.projNavContainer {

    padding-bottom: 25px;

    .maniculeSpan {
        // Removes the underline from prev/next
        a {
            text-decoration: none;
            cursor: pointer;
    
            /* Prevent text selection */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
        }
    }

    .btwnPrevAndNext{
        // top right bottom left
        padding: 0px 20px 0px 20px;    
    }
}
