@import '../index';

.header {
    // Top right bottom left
    padding: 0.75em 0em 0.75em 0em;
    font-size: 48px !important;
    line-height: 1.4; // To match the text size
    font-family: 'Raleway', sans-serif;
    font-variant: small-caps;
    font-weight: bold;
    @include headerText;
}
