.separator {
    border-style: solid;
    border-width: 1px;
    border-left: none;
    border-right: none;
    border-top: none;

    padding-top: 10px;
    padding-bottom: 10px;

    width: 300px;
}

.coloredUnderline {
    // text-decoration: underline;
    // text-decoration-color: #f9e0e0;
    border-bottom: 2px solid #f7b7b7;

}