.section {
    padding: 1.5em;
    padding-left: 0px;
    margin-right: 2em;
    flex-grow: 2;
    width: 20em;
}

.title{
    margin-bottom: 1em;
    padding-bottom: 0.25em;
    border-bottom: 1px solid black;
    font-family: 'Raleway', sans-serif;
    font-variant: small-caps;
    font-size: 21px;
}