.navigation {
  width: 100%;
  height: 100px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: #0b3c5d;
  color: #d9d9d9;
  display: inline-block;
}
  
.navigation h2 {
  margin-top: 0px ;
}

.nav-separation {
  margin-left: 10px;
  margin-right: 10px;
}

.navigation a {
  color: #d9d9d9;
}

.nav-right {
  float: right;
  display: inline-block;
  margin-top: 50px;
}

.nav-left {
  padding-top: 20px;
  display: inline-block;
  vertical-align: top;
}