@import '../index';

.sectionHeader{
    @include sectionHeaderStyles;
}

.travelSection {
    padding: 20px;
    padding-left: 0px;
    margin-right: 20px;
    flex-grow: 2;
    width: 300px;
}

.travelTitle{
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px dotted grey;}

.gettingThereMain {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}