.navMain {
    text-align: center;
}

.navItem {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 15px;
}

.navItem:hover{
    border-bottom: 2px solid #ff9595;
    cursor: pointer;
}