.navItem {
    margin-right: 40px;
    padding-bottom: 15px;
    font-family: 'Raleway', sans-serif;
    font-variant: small-caps;

}

.navItem:hover{
    border-bottom: 2px solid #ff9595;
    cursor: pointer;
}