/* Global styles */
html, body {
    font-family: 'EB Garamond', serif;
    height: 100%;
    margin: 0;
    background: #efefef;
    padding: 10px;
}

section {
    height: 100%;
}

a {
    color: black;
}

a:visited {
    color: black;
}

@mixin sectionHeaderStyles {
    padding: 20px;
    font-size: 24px;
}