@font-face {
    font-family: 'Din Sans';
    src: url(/src/font/DINPro.otf) format('opentype');
}

/* Global styles */
html, body {
    // font-family: 'Cardo', serif;
    font-family: 'Din Sans', sans-serif;

    // Gotta make that font look good
    text-rendering: geometricPrecision;
    font-size: 16px;
    line-height: 1.4;
    background: #efefef;
    // Top right bottom left
    padding: 10px 10% 50px 10%;
}

section {
    height: 100%;
}

a {
    color: black;
}

a:visited {
    color: black;
}

@mixin sectionHeaderStyles {
    padding-top: 1.75em;
    padding-bottom: 0.3em;
    font-size: 24px;
    font-weight: bold;
}
