.layoutContainer {
    display: flex;
    height: 100%;
}

.navContainer {
    height: 100%;
}

.contentContainer {
    height: 100%;
    padding: 75px;
    font-size: 18px;
}

.tooSmall {
    padding: 10px;
}